<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Point N</th>
      <th>Point A</th>
      <th>Point PO</th>
      <th>Point OR</th>
      <th>Maxillary Depth</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.point_n.x %>, <%= exam.point_n.y %></td>
        <td><%= exam.point_a.x%>, <%= exam.point_a.y%></td>
        <td><%= exam.point_po.x%>, <%= exam.point_po.y%></td>
        <td><%= exam.point_or.x%>, <%= exam.point_or.y%></td>
        <td><%= exam.maxillary_depth_angle %></td>
        <td>
          <%= link_to 'Edit', edit_patient_exam_path(exam.patient_id, exam.id), class: "btn btn-sm btn-secondary" %>
        </td>
        <td>
          <%= link_to 'Destroy', patient_exam_path(exam.patient_id, exam.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

